*{
  margin: 0;
  padding: 0;
 
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: fixed rgb(97, 97, 97);
  height: 8vh;

}
nav li a{
color:rgb(255, 255, 255);
text-decoration: none;
margin: 20px;
border: none;
  transition: 0.3s;
}

 nav li{
  list-style: none;
  display: flex;
  letter-spacing: 3px;
  
}

nav li button{
  height: 100%;
  padding: 0.8em;
  border: none;
  background-color: rgb(97, 97, 97) ;
  transition: background-color 0.4s;
  
}

nav li button:hover{
  background: #b60707 ;
  
}

.mobilemenu{
  display: none;
  cursor: pointer;
}
.mobilemenu div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

.carta{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30vh;
  margin-left: 55vh;
  height: flex;
  width: flex;
  
  flex-direction: column;
  border: 2px solid rgb(74, 74, 74);
  
}

footer{
  background: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: center;
}