*{
  margin: 0;
  padding: 0;
 
}

.logo{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: fixed rgb(175, 175, 175);
  height: 8vh;

}

nav li a{
color:rgb(0, 143, 253);
text-decoration: none;
margin: 20px;
}

nav li a:hover{
  background: #fff ;
  border-radius: 15%;
  transition: 0.3s;
}
 nav li{
  list-style: none;
  display: flex;
  letter-spacing: 3px;
  
}

.mobilemenu{
  display: none;
  cursor: pointer;
}
.mobilemenu div{
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
}

.carta{
  display: flex;
  justify-content: center;
  align-items: center;

  height: flex;
  width: flex;
  
  
  border: 2px solid rgb(74, 74, 74);
  
}

footer{
  background: rgb(0, 0, 0);
  align-items: center;
  display: flex;
  justify-content: center;
}